<html>
<head>
<title>led and servo control</title>
<style type="text/css">
.auto-style1 {
text-align: center;
}
.auto-style6 {
border-style: solid;
border-color: #000000;
text-align: center;
color: #FFFFFF;
background-color: #FF9900;
}
</style>
</head>
<body>
<center>
<strong><br>led servo Control<br><br><br></strong>
<table style="width: 50%">
<tr>
  <td class="auto-style6" style="height: 81; width: 30%">
  <a href="sg90_control_test?servo=L">&lt;&lt;</a></td>
  <td class="auto-style1" style="height: 81; width: 50" align="center"><img src="static/sg90.png" width="80"></td>
  <td class="auto-style6" style="height: 81; width: 30%;">
  <a href="sg90_control_test?servo=R">&gt;&gt;</a></td>
</tr>

</table>
<strong><br>Degree is {{ degree }}</strong>
<table>
<tr>
<td class="auto-style6" >
<a href="ledtest?led=1">led on</a>
</td>
  <td class="auto-style1" style="height: 81; width: 300" align="center"> </td>

<td class="auto-style6" >
<a href="ledtest?led=2">led off</a>
</td>
</tr>
</table>
<strong><br>LED is {{ ret }}</strong>
</center>
</body>
</html>
